# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import os
orig_working_directory=os.getcwd()
orig_working_directory

'C:\\Users\\clemi\\Desktop\\Clementine-GWU-HW\\Clementine-GWU-HW-Unit6\\python-api-challenge\\WeatherPy\\starter_code'

In [2]:
os.chdir(os.path.join('..','..','..','..'))
curr_working_directory=os.getcwd()
curr_working_directory

'C:\\Users\\clemi\\Desktop\\Clementine-GWU-HW'

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
os.chdir(orig_working_directory)
os.chdir(os.path.join('..'))
os.getcwd()

'C:\\Users\\clemi\\Desktop\\Clementine-GWU-HW\\Clementine-GWU-HW-Unit6\\python-api-challenge\\WeatherPy'

In [5]:
import csv
file="output_data/City_Data.csv"
weather_data=pd.read_csv(file)
weather=weather_data.drop(['Unnamed: 0','Date'],axis=1)
weather.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,Carnarvon,-24.87,113.63,25.00,14,0,5.70,AU
1,Arraial do Cabo,-22.97,-42.03,22.50,74,30,8.16,BR
2,Suoyarvi,62.08,32.35,1.90,86,100,6.55,RU
3,Avarua,-21.21,-159.78,26.00,65,75,4.10,CK
4,Rikitea,-23.12,-134.97,24.52,74,100,8.40,PF
5,Khatanga,71.97,102.50,12.25,67,52,3.50,RU
6,Syracuse,37.09,15.28,17.78,77,5,2.10,IT
7,Manaus,-3.10,-60.02,26.00,94,0,1.00,BR
8,Busselton,-33.65,115.33,18.33,44,0,2.04,AU
9,Saint Paul Harbor,57.79,-152.41,12.00,54,90,5.70,US

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
import gmaps
import pandas as pd

In [7]:
#weather_data.dropna(inplace = True) 

data=weather[['Lat','Lng','City','Humidity']]

lat_lon_grp=data.groupby(['Lat','Lng','City']).count()

marker_data=lat_lon_grp.reset_index()

locations = marker_data[['Lat','Lng']]
locations
locationlist = locations.values.tolist()
#len(locationlist)

labels = marker_data['City'].values.tolist()

In [8]:
max_humidity=max(data['Humidity'])
max_humidity

100

In [9]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [10]:
#documentatin -- https://jupyter-gmaps.readthedocs.io/en/latest/api.html
#import widget that allows map to be exported to to html

locations = marker_data[['Lat', 'Lng']]
weights=marker_data['Humidity']

# Plot Heatmap
# map types ['ROADMAP', 'HYBRID', 'TERRAIN', 'SATELLITE']
fig = gmaps.figure(map_type='ROADMAP',center=(5.0, -5.0), zoom_level=2) 

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weights,max_intensity=5,point_radius = 15)

# Add layer
fig.add_layer(heat_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
#selecting ideal conditions for vacation spot
#A max temperature lower than 35 degrees Celsius but higher than 30.
#Wind speed less than 10 mph.
#Zero cloudiness.
ideal_weather=weather.loc[(weather["Max Temp"]>=30) & (weather["Max Temp"]<=33) & \
                          (weather["Wind Speed"]<=4) & (weather["Cloudiness"]<=30)  ,:]
ideal_weather.dropna()
ideal_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
87,George Town,5.41,100.34,32.00,70,20,2.10,MY
134,Kantang,7.41,99.52,32.00,70,20,3.10,TH
222,Qeshm,26.96,56.27,30.00,51,0,2.10,IR
237,Berbera,10.44,45.01,32.02,55,0,3.39,SO
307,Moussoro,13.64,16.49,30.28,30,4,2.59,TD
389,Doha,25.29,51.53,32.78,74,0,2.10,QA
444,Adrar,20.50,-10.07,30.13,18,18,2.45,MR
522,Sawākin,19.11,37.33,30.46,53,2,2.51,SD

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
hotel_df=ideal_weather
hotel_df["Hotel Name"]=""
hotel_df

C:\Users\clemi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Hotel Name
87,George Town,5.41,100.34,32.00,70,20,2.10,MY,
134,Kantang,7.41,99.52,32.00,70,20,3.10,TH,
222,Qeshm,26.96,56.27,30.00,51,0,2.10,IR,
237,Berbera,10.44,45.01,32.02,55,0,3.39,SO,
307,Moussoro,13.64,16.49,30.28,30,4,2.59,TD,
389,Doha,25.29,51.53,32.78,74,0,2.10,QA,
444,Adrar,20.50,-10.07,30.13,18,18,2.45,MR,
522,Sawākin,19.11,37.33,30.46,53,2,2.51,SD,

In [13]:
#finding keys
curr_working_directory

'C:\\Users\\clemi\\Desktop\\Clementine-GWU-HW'

In [20]:
# Dependencies
import requests
import json

# Google developer API key
from api_keys import g_key

In [24]:
location='Doha'
#google API end points
base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params={'address':location,
        'key':g_key}
response=requests.get(base_url,params=params)
response.json()

{'error_message': 'The provided API key is invalid.',
 'html_attributions': [],
 'results': [],
 'status': 'REQUEST_DENIED'}

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]



marker_data=lat_lon_grp.reset_index()

In [17]:
# Add marker layer ontop of heat map


# Display figure